$primary: #8440ba;

.nave {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;
  padding: 1rem;
  color: white;

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  h4 {
    font-weight: 400;
    margin-left: 2rem;
  }

  .img {
    width: 3rem;
    height: 3rem;
    border-radius: 55%;
    background-color: antiquewhite;
    margin-left: 2rem;
  }

  .bell {
    margin-left: 2rem;
  }

  .menu {
    display: none;
  }
  .noti {
    margin-left: 2rem;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: -5rem;
  }
}

@media (max-width: 832px) {
  .icons {
    margin-left: -7rem;
    margin-right: 0rem;
    justify-content: center;
  }
  .text {
    margin-left: -5rem;
  }

  .noti {
    margin-left: -1rem;
  }

  .img {
    margin-left: 0rem;
  }

  .bell {
    margin-left: 0rem;
  }

  .menu {
    display: none;
  }
  h4 {
    margin-left: 0rem;
  }
}

@media (max-width: 662px) {
  .noti {
    display: none !important;
  }
}
// MEDIA QUERIES
@media (max-width: 576px) {
  .menu {
    display: block !important;
    cursor: pointer;
  }
  .text {
    margin-left: 0rem;
  }
  .nave {
    width: 100vw;
    justify-content: space-between;
    margin: 0;

    h2 {
      display: none !important;
    }

    h4 {
      margin-left: -10rem !important;
    }
    .img {
      margin-left: -23rem !important;
    }

    .bell {
      display: none !important;
    }
    .noti {
      display: none !important;
    }

    .icons {
    }
  }
}
