.signIn {
  background-image: url("../image/purple.webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 30vh;
  display: block;
  margin: 0 auto;
  padding-top: 10rem;
}
.signIn-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.signIn-form > label {
  color: white;
  margin-bottom: 1.5rem;
}
.signIn-btn {
  width: 19rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  color: #8440ba;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.signIn-btn:hover {
  background-color: #8440ba;
  color: white;
  border: 1px solid white;
}

@media only screen and (min-width: 1200px) {
}
